HOST_NAME = localhost
PORT = 3001

URL_FRONTEND = http://localhost/3000/

DB_URL = mongodb://localhost:27017/project1

ACCESS_JWT_SECRET = accessjwtsecret0123210
REFRESH_JWT_SECRET = refreshjwtsecret3210123

DB_HOST =
DB_PORT =
DB_USER =
DB_PASSWORD =
DB_NAME =
    

KEY_API = "AIzaSyA5Cais569qiZcvKbpmtr7GsPKnIENTdF4";
VIDEO_HTTP = "https://www.googleapis.com/youtube/v3/videos";